# notebooks
notebooks/.ipynb_checkpoints/
notebooks/03_data_generation_v1_moscow_area.ipynb
notebooks/05DUPLICATE.ipynb

# data
data/raw_data/fraudTest.csv.zip
data/cleaned_data/clients_with_geo.csv
data/cleaned_data/clients_with_geo.gpkg
data/cleaned_data/offline_merchants_points.csv
data/cleaned_data/offline_merchants_points.gpkg
data/cleaned_data/transaction_df_clean.csv 
data/cleaned_data/clients_sample.gpkg
data/raw_data/trans.asc
data/raw_data/geo/
data/test_data/

# и т.д.
.ssh/
sessions/
scratchpad.txt
scratchpad.py
scratchpad_fraud.txt