# notebooks
notebooks/.ipynb_checkpoints/
notebooks/03_data_generation_v1_moscow_area.ipynb
notebooks/05DUPLICATE.ipynb
notebooks/00INTEGRATION_DROPS_TEST_01.ipynb
notebooks/00DROPS_BASE_TEST_01.ipynb

# data
data/raw/fraudTest.csv.zip
data/clients/clients_with_geo.csv
data/clients/clients_with_geo.gpkg
data/cleaned_data/offline_merchants_points.csv
data/cleaned_data/transaction_df_clean.csv 
data/clients/clients_sample.gpkg
data/raw/trans.asc
data/raw/geo/
data/test_data/

# и т.д.
.ssh/
sessions/
scratchpads/